[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
django = "*"
daphne = "*"
twisted = {extras = ["http2", "tls"],version = "*"}
requests = "*"
requests-http-signature = "*"
pycryptodome = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-webpack-loader = "==0.7.0"
djangorestframework = "*"

[requires]
python_version = "3"

[scripts]
manage = "python manage.py"
start = "daphne -b 0.0.0.0 -p 3000 FoxRain.asgi:application"
worker = "celery -A FoxRain worker -l info"
